<manifest package="com.leili.season1"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/one"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity
			android:name=".homepage.activity.HomepageActivity"
			android:label="@string/app_name">

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".flyinglabel.activity.FlyingLabelActivity"
			android:label="FlyingLabel"/>
		<activity
			android:name=".okhttp.activity.OkHttpActivity"
			android:label="OkHttp"/>
		<activity
			android:name=".customfont.activity.CustomFontActivity"
			android:label="CustomFont"/>
		<activity
			android:name=".uithread.activity.UpdateUIActivity"
			android:label="UpdateUI"/>
		<activity
			android:name=".dragview.activity.DragViewActivity"
			android:label="DragView"/>
		<activity
			android:name=".randomsort.activity.RandomSortActivity"
			android:label="RandomSort"/>
		<activity
			android:name=".jni.activity.JNIActivity"
			android:label="RandomSort"/>

	</application>

</manifest>
